:root {
  --indigo: #0f5640a4;
}

.units {
  width: 1920px;
  height: 1080px;
  background: #00ff4c;
  color: #fff;
  font-size: 100px;
}

body {
  background-color: var(--indigo);
}

.menu {
  color: #ff0000;
  display: flex;
  display: flex;
}

.text * {
  top: calc(1em+ 2em);
}

.box {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 50%;
  background: #fff;
  border-radius: 25rem;
  color: #ff0000;
  font-size: 5vh;
  font-family: Arial, Helvetica, sans-serif;
}