.units {
  width: 1920px;
  height: 1080px;
  background: #00ff4c;
  color: #fff;
  font-size: 100px;
}

body {
  color: green;
}

.menu {
  color: #ff0000;
  display: flex;
  display: flex;
}

.text * { top: calc(1em+ 2.0em) }

a{}
